<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <div id="message"></div>
    <h1>
        My Colour Game
        <br>
        <span id="colorDisplay">RGB</span>
    </h1>
    <div id="stripe">
        <button id="reset">Renew</button>
        <button class="mode">Easy</button>
        <button class="mode selected">Hard</button>
    </div>
    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>

		<div class="instuction">
			Instuctions: choose a colour that matches the colour of
			<span id="matchColor"></span>
		</div>
    </div>
<script type="text/javascript" src="/javascripts/app.js"></script>    
</body>
</html>