<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Colour Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <h1>
        MyColourGame
        <br>
        <span id="colorDisplay">RGB</span>
    </h1>
    <div id="stripe">
        <button id="reset">New Colours</button>
        <button class="mode">Easy</button>
        <button class="mode selected">Hard</button>
    </div>
    <div id="message"></div>
    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>

		<div class="instuction">
			* Instuctions: guess a colour that matches the RGB model given on the header. The three numbers inside RGB() indicate the degree of colour red, green and blue.
			<a class="reference" href="https://en.wikipedia.org/wiki/RGB_color_model">Learn more</a>
		</div>
    </div>
<script type="text/javascript" src="/javascripts/app.js"></script>    
</body>
</html>